/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-color);
  background-attachment: fixed;
  background-image: var(--title-image);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.rec::before {
  content: "";
  position: absolute;
  right: 19px;
  top: 18px;
  border: 5px solid var(--header-elements-color);
  border-radius: 50%;
  box-shadow: 0 0 5px 3px var(--header-elements-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--header-elements-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
}

.rec {
  grid-row: 1;
  text-transform: uppercase;
  color: var(--accent-color);
  text-align: right;
  margin-inline-end: 38px;
  margin-block-start: 10px;
}

.header {
  min-height: 668px;
  height: 100vh;
  margin-block-end: var(--header-margin-s);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content repeat(3, 1fr);
  position: relative;
}

.header__theme-menu {
  grid-row: 2;
  align-self: start;
  justify-self: end;
  margin-block-start: 40px;
  margin-inline-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--header-elements-color);
  border: 1px solid transparent;
  background-color: transparent;
  text-transform: lowercase;
  padding: 0px 13px 2px;
}

.header__theme-menu-button_active {
  border: 1px var(--header-elements-color) solid;
  pointer-events: none;
}

.header__title {
  grid-row: 3;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  line-height: 78.5%;
  align-items: start;
  margin-inline-start: 10px;
}

.header__description {
  grid-row: 4;
  margin: 29px 10px 0;
  align-self: self-start;
  justify-self: end;
  font-weight: bold;
  max-width: 355px;
  width: 100%;
}

button:hover {
  border: 1px solid var(--button-hover-color);
  padding: 0px 13px 2px;
}

button:focus {
  border-bottom: 1px solid currentColor;
}

a:hover {
  border-bottom: 2px solid currentColor;
}

a:focus {
  border: 1px solid currentColor;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--heading-color);
}

.main__title {
  margin-block-end: var(--h3-margin-s);
}

.main__how-to__sub-heading {
  margin-block-end: var(--h2-margin-s);
}

.content-section {
  margin: var(--section-margin-s);
  display: grid;
}

.content-section div:last-of-type {
  margin: 0;
}

.main__why {
  grid-template-columns: 1fr;
}

.main__subtitle {
  color: var(--subtitle-color);
  margin-block-end: var(--h2-margin-s);
}

.main__heading {
  font-weight: 100;
}

.main__text {
  color: var(--main-text-color);
  font-weight: 100;
  margin-block-end: var(--p-margin-s);
}

.main__accent-span {
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.main__how-to__heading {
  font-weight: 100;
}

.main__text-how-to {
  font-weight: bold;
}

.main__what-helps {
  grid-template-columns: 1fr;
}

.main__how-to {
  grid-template-columns: 1fr;
}

.main_heading-pictures {
  margin-block-end: var(--h3-margin-s);
}

.main__pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-s);
  justify-items: center;
}

.main__pictures-item {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 668px;
  height: 100vh;
  justify-items: center;
  align-items: center;
  position: relative;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 82.5%;
}

@media (width >= 768px) {
  section {
    margin: var(--section-margin-m);
  }

  .header {
    min-height: 1024px;
    margin-block-end: var(--header-margin-m);
    grid-template-columns: 4fr;
    grid-template-rows: 0.14fr repeat(3, 1fr);
  }

  .rec {
    grid-column: 3;
    grid-row: 1;
    margin-inline-end: 48px;
    margin-block-start: 20px;
  }

  .rec::before {
    right: 29px;
    top: 28px;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    width: 25px;
    height: 25px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    grid-column: 3;
    grid-row: 2;
    margin-block-start: 145px;
    margin-inline-end: 20px;
  }

  .header__title {
    margin-inline-start: 0;
    margin-block-end: 42px;
    grid-column: span 3;
    grid-row: 3;
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    grid-column: 2 / 4;
    max-width: 364px;
    width: 100%;
    align-self: start;
    margin-block-start: 25px;
    margin-inline-end: 20px;
  }

  .content-section {
    margin: var(--section-margin-m);
  }

  .main__subtitle {
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-block-end: var(--h2-margin-m);
    align-self: start;
  }

  .main__why {
    grid-template-columns: 1fr 2fr;
    column-gap: var(--gap-m);
  }

  .main__why-text,
  .main__why-title {
    grid-column: 2;
  }

  .main__what-helps {
    grid-template-columns: repeat(5, 1fr);
  }

  .main__what-helps__title,
  .main__what-helps__text {
    grid-column: 1 / 6;
  }

  .main__how-to {
    grid-template-columns: 1fr 2fr;
    column-gap: var(--gap-m);
  }

  .main__how-to__subtitle {
    grid-column: 1;
    grid-row: span 12;
    align-items: start;
  }

  .main__how-to__sub-heading,
  .main__how-to__heading,
  .main__how-to__text {
    grid-column: 2 / 3;
  }

  .main__how-to__sub-heading,
  .main__how-to__heading {
    align-self: start;
  }

  .main__how-to__sub-heading {
    grid-row: 1;
  }

  .main__how-to__heading:first-of-type {
    grid-row: 2;
  }

  .main_heading-pictures {
    margin-block-end: var(--h2-margin-m);
  }

  .main__pictures {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-m);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .main__pictures-item__sunset {
    grid-area: sunset;
  }

  .main__pictures-item__ice-cream {
    grid-area: ice-cream;
  }

  .main__pictures-item__tape {
    grid-area: tape;
  }

  .main__pictures-item__books {
    grid-area: books;
  }

  .main__pictures-item__street {
    grid-area: street;
  }

  .footer {
    min-height: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    margin-block-end: var(--header-margin-l);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content repeat(3, 1fr);
    min-height: 768px;
  }

  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
    padding: 20px 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    grid-column: span 4;
    grid-row: 3;
    margin: 0;
    align-self: self-start;
    margin-block-start: 23px;
  }

  .header__description {
    grid-column: 2 / span 3;
    grid-row: 4;
    align-self: self-start;
    margin-block-start: 28px;
    margin-inline-end: 20px;
    max-width: 491px;
    width: 100%;
  }

  .content-section {
    margin: var(--section-margin-l);
  }

  .main__why {
    grid-template-columns: 0.97fr 2fr;
  }

  .main__what-helps {
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap-l);
  }

  .main__what-helps__subtitle {
    grid-column: 1;
    grid-row: 1;
  }

  .main__what-helps__title:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
  }
  .main__what-helps__text:nth-of-type(1) {
    grid-column: 1;
    grid-row: 3;
  }

  .main__what-helps__title:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
  }
  .main__what-helps__text:nth-of-type(2) {
    grid-column: 2;
    grid-row: 3;
  }

  .main__what-helps__title:nth-of-type(3) {
    grid-column: 3;
    grid-row: 2;
  }
  .main__what-helps__text:nth-of-type(3) {
    grid-column: 3;
    grid-row: 3;
  }

  .main__how-to {
    grid-template-columns: 0.97fr 2fr;
  }

  .main__how-to__subtitle,
  .main__how-to__sub-heading,
  .main__how-to__headind {
    align-self: self-start;
  }

  .main__how-to__subtitle {
    grid-row: span 12;
  }

  .main__how-to__heading {
    grid-column: 2;
  }
  .main__how-to__text {
    grid-column: 2;
  }

  .footer {
    min-height: 768px;
  }
}

.theme-light .rec {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
