/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --subtitle-color: #FF0070;
  --header-elements-color: #FF0070;
  --heading-color: #000028;
  --background-color: #000028;
  --main-text-color: #F1B2CE;
  --title-image: url(/images/cover-image-dark.png);
  --button-hover-color: rgba(255, 0, 10, 0.4);
  --h2-margin-s: 20px;
  --h2-margin-m: 20px;
  --h2-margin-l: 20px;
  --h3-margin-s: 10px;
  --h3-margin-m: 10px;
  --h3-margin-l: 10px;
  --p-margin-s: 20px;
  --p-margin-m: 20px;
  --p-margin-l: 20px;
  --header-margin-s: 40px;
  --header-margin-m: 60px;
  --header-margin-l: 60px;
  --section-margin-s: 0 10px 50px;
  --section-margin-m: 0 20px 80px;
  --section-margin-l: 0 20px 80px;
  --gap-s: 10px;
  --gap-m: 20px;
  --gap-l: 20px;
}